.landing-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #d9f99d, #bbf7d0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #2d3748;
  cursor: pointer;
  transition: color 0.3s ease;
}

.login-icon:hover {
  color: #166534;
}

.explore-btn {
  background-color: #15803d;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #166534;
}
